[submodule "IDE/VC/vcpkg/vcpkg"]
	path = external/vcpkg/vcpkg
	url = https://github.com/henricj/vcpkg-ltcg.git
[submodule "external/enet"]
	path = external/enet/enet
	url = https://github.com/lsalzman/enet.git
[submodule "external/digestpp/digestpp"]
	path = external/digestpp/digestpp
	url = https://github.com/henricj/digestpp.git
[submodule "external/rectpack2D"]
	path = external/rectpack2D/rectpack2D
	url = https://github.com/TeamHypersomnia/rectpack2D.git
