configure
Makefile.in
depcomp
autom4te.cache
bin/
build/
missing
aclocal.m4
install-sh
dunelegacy
clean
valgrind.supp
UserInterfaceState.xcuserstate
*.pbxuser
*.perspectivev3
*.mode1v3
*~
*~.nib
*~.xib 
.DS_Store 
xcuserdata/
IDE/VC/obj
*.user
IDE/VC/*.out?
*.TMP
/out/
/.vs/
